<html>
    <head>
        <title>Học Tiếng Anh</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/learnEglishDLMain.css">
    </head>
    <body>
        <div id="popup" class="container">
            <div class="col-md-12 col-xs-12">
                <h5>Xin chào Long</h5>
            </div>
            <hr>
            
            <div class="col-md-12">
                <a id="list-add" target="_blank" href="newword.html">Danh sách từ đã thêm</a>
            </div>
        </div>
    </body>
    <script src="../js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js" type="text/javascript"></script>
</html>